function Table.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Table.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Table.draw_table 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 34
add
push constant 54
sub
push this 1
push constant 0
add
push constant 54
sub
push this 0
push constant 36
add
push constant 54
sub
push this 1
push constant 108
add
push constant 54
sub
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 72
add
push constant 54
sub
push this 1
push constant 0
add
push constant 54
sub
push this 0
push constant 74
add
push constant 54
sub
push this 1
push constant 108
add
push constant 54
sub
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 0
add
push constant 54
sub
push this 1
push constant 34
add
push constant 54
sub
push this 0
push constant 108
add
push constant 54
sub
push this 1
push constant 36
add
push constant 54
sub
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 0
add
push constant 54
sub
push this 1
push constant 72
add
push constant 54
sub
push this 0
push constant 108
add
push constant 54
sub
push this 1
push constant 74
add
push constant 54
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Table.draw_move 3
push argument 0
pop pointer 0
push argument 1
push constant 3
call Math.divide 2
pop local 2
push argument 1
push local 2
push constant 3
call Math.multiply 2
sub
push constant 38
call Math.multiply 2
push constant 16
add
push this 0
add
push constant 54
sub
pop local 0
push local 2
push constant 38
call Math.multiply 2
push constant 16
add
push this 1
add
push constant 54
sub
pop local 1
push argument 2
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push local 1
push constant 10
call Screen.drawCircle 3
pop temp 0
goto IF_END0
label IF_FALSE0
push local 0
push constant 10
sub
push local 1
push constant 9
sub
push local 0
push constant 10
add
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 10
sub
push local 1
push constant 10
sub
push local 0
push constant 10
add
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 10
sub
push local 1
push constant 11
sub
push local 0
push constant 10
add
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 10
add
push local 1
push constant 9
sub
push local 0
push constant 10
sub
push local 1
push constant 9
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 10
add
push local 1
push constant 10
sub
push local 0
push constant 10
sub
push local 1
push constant 10
add
call Screen.drawLine 4
pop temp 0
push local 0
push constant 10
add
push local 1
push constant 11
sub
push local 0
push constant 10
sub
push local 1
push constant 11
add
call Screen.drawLine 4
pop temp 0
label IF_END0
push constant 0
return
